/* Custom color theme properties */
:root {
  --f7-theme-color: #173f5f;
  --f7-theme-color-rgb: 30, 52, 247;
  --f7-theme-color-shade: #173f5f;
  --f7-theme-color-tint: #173f5f;
}

/* Your app custom styles here */
 .title-modify{
  color: white!important;
 text-align: center;
  background-color: #173f5f;
  font-family:cursive;
  
} 

